version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: churn_backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: churn_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: always
    environment:
      - API_URL=http://backend:8000/predict
